@import "../../vars.css";

.container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #32ce66 0%, #185313);
    box-shadow: 0 16px 14px 0 #063b12;
    padding: 18px 24px;
    max-width: 345px;
    width: 345px; 
    height: 450px;
}

.img{
    margin-bottom: 26px;
    border-radius: 10px;
    opacity: 0.89;
}

.title{
    font-size: 25px;
    font-weight: 700;
}

.description{
    margin-top: 5px;
    font-size:20px;
    font-weight: 400;
}

.skills{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}

.skill{
    font-size: 20px;
    font-weight: 400;
    border-radius: 100px;
    background: var(--color-dark);
    padding: 2px 22px;
}

.links {
    width: 20%;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height: 100%;
}

.link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: Var(--color-text);
    font-size: 22px;
    font-weight: 600;
    border-radius: 50%;
    background: var(--color-primary);
    width: 40px;
    height: 40px;
    text-align: center;
}

@media screen and (max-width: 830px){
    .container{
        max-width: 290px;
    }
}