:root{
    /*Colors*/
    --color-text: #fff;
    --color-primary:#65b64c;
    --color-secondary:#00a10d;
    --color-dark:#1d9105;
    --color-bg: #62ee11;

    /*Font*/
    --font-robot: "Roboto";
}